h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $font-headings;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

p,
a,
li,
blockquote {
  font-family: $font-body;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
