$brand-primary: hsl(179, 62%, 43%);
$brand-secondary: hsl(71, 73%, 54%);
$brand-neutral-primary: hsl(204, 43%, 93%);
$brand-neutral-secondary: hsl(218, 22%, 67%);

$font-headings: "Karla", Helvetica, Arial, sans-serif;
$font-body: "Karla", Helvetica, Arial, sans-serif;
